site_name: Datapower Docs Base
site_dir: ./site
docs_dir: ./dashboard/docs


theme:
  name: material
  nav_style: nested
  features:
    - search.suggest
    - search.highlighting
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.sections
    - navigation.path
    - navigation.prune
    - toc.follow
    - navigation.top
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format



plugins:
  - search
  - awesome-pages
  - multirepo:
      cleanup: true
      keep_docs_dir: true
      repos:
        - section: Rating
          section_path: Domains
          import_url: 'https://github.com/geoking41/rating?branch=main&edit_uri=/blob/main/&docs_dir=.&multi_docs=True&extra_imports=["*.md"]'
        - section: Policy
          section_path: Domains
          import_url: 'https://github.com/geoking41/policy?branch=main&edit_uri=/blob/main/&docs_dir=.&multi_docs=True&extra_imports=["*.md"]'
  


  